.crm-container table .crm-icon.Individual-subtype-icon::before {
  font-family: 'FontAwesome';
  font-style: normal;
  text-rendering: auto;
  font-size: 13px;
  content: "";
  color: #4d4d69;
}

select.crm-form-select {
  line-height: normal;
}

/*#off-canvas {
  display: none;
}*/

#root-menu-div .menu-ul {
  margin-top: 60px;
}

#recordContribution {
  margin-top: 45px;
}

fieldset#mail, fieldset#thankyou, fieldset#confirm, fieldset#registration {
  padding-top: 55px !important;
}

.elfinder-cwd-wrapper {
  background: white;
}
